html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  width: 100%;
  max-width: 1440px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  border: 1px solid blue;
  font-family: Lato;
}

header {
  text-align: center;
  padding-top: 10px;
}

header img {
  width: 268px;
  height: 93px;
}

.search {
  width: 88%;
  margin: auto;
  height: auto;
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.loupe {
  position: absolute;
  right: 19px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 623px) {
  .loupe {
    width: 20px;
    right: 10px;
  }
}

#search {
  width: 100%;
  height: 69px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  background-color: #e7e7e7;
  border: none;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 22px;
}

@media (max-width: 623px) {
  #search {
    padding-left: 10px;
  }
  #search::-webkit-input-placeholder {
    font-size: 11px;
  }
  #search:-ms-input-placeholder {
    font-size: 11px;
  }
  #search::-ms-input-placeholder {
    font-size: 11px;
  }
  #search::placeholder {
    font-size: 11px;
  }
}

#search:focus {
  outline: 2px solid #3282f7;
}

.keyword {
  width: 88%;
  height: auto;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 420px) {
  .keyword {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.keyword .userChoice {
  width: auto;
  min-width: 107px;
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: #3282f7;
  border-radius: 5px;
  margin-right: 15px;
  margin-bottom: 5px;
  padding: 0px 10px;
}

.keyword .userChoice .croix {
  cursor: pointer;
  margin-left: 10px;
}

.keyword .blue {
  border-color: #3282f7;
}

.keyword .green {
  background-color: #68d9a4;
}

.keyword .red {
  background-color: #ed6454;
}

.btns {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 6.1%;
  margin-bottom: 25px;
}

@media (max-width: 620px) {
  .btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.btn {
  color: white;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  padding-left: 25px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.btn__ingredients {
  background-color: #3282f7;
}

.btn__appareil {
  background-color: #68d9a4;
}

.btn__ustensiles {
  background-color: #ed6454;
}

.btn::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid white;
  border-top: none;
  border-left: none;
  right: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.input {
  position: absolute;
  height: 60%;
  width: 80%;
  left: 0;
  border: none;
  outline: transparent;
  display: none;
  color: white;
  font-size: 18px;
}

.input__ing {
  background: #3282f7;
}

.input__ing--visible {
  display: block;
}

.input__app {
  background: #68d9a4;
}

.input__app--visible {
  display: block;
}

.input__ust {
  background: #ed6454;
}

.input__ust--visible {
  display: block;
}

.arrow::after {
  -webkit-transform: translateY(50%) rotate(-135deg);
          transform: translateY(50%) rotate(-135deg);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.list {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.ingredients {
  position: relative;
}

.ingredients__container {
  position: absolute;
  z-index: 5;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 450px;
  height: 350px;
  border-radius: 5px;
  background-color: #3282f7;
  color: white;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media (max-width: 888px) {
  .ingredients__container {
    width: 170px;
  }
}

.ingredients__container--visible {
  visibility: visible;
  opacity: 1;
}

.ingredients__container span {
  margin: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

.ingredients__container span:hover {
  background-color: #0751bc;
}

.appliances {
  position: relative;
}

.appliances__container {
  position: absolute;
  z-index: 5;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 450px;
  height: 350px;
  border-radius: 5px;
  background-color: #68d9a4;
  color: white;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media (max-width: 888px) {
  .appliances__container {
    width: 170px;
  }
}

.appliances__container--visible {
  opacity: 1;
  visibility: visible;
}

.appliances__container span {
  margin: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

.appliances__container span:hover {
  background-color: #2caf72;
}

.ustensiles {
  position: relative;
}

.ustensiles__container {
  position: absolute;
  z-index: 5;
  top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 450px;
  height: 350px;
  border-radius: 5px;
  background-color: #ed6454;
  color: white;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

@media (max-width: 888px) {
  .ustensiles__container {
    width: 170px;
  }
}

.ustensiles__container--visible {
  visibility: visible;
  opacity: 1;
}

.ustensiles__container span {
  margin: 15px;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
}

.ustensiles__container span:hover {
  background-color: #c62715;
}

.container {
  width: 88%;
  height: auto;
  margin-left: 6.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.card {
  width: 380px;
  height: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

@media (max-width: 900px) {
  .card {
    width: 100%;
  }
}

.card .img {
  width: 100%;
  height: 48.9%;
  background-color: #c7bebe;
}

.card .description {
  width: 100%;
  height: 186px;
  background-color: #e7e7e7;
}

.card .nameAndTime {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .time img {
  margin-right: 7px;
}

.card .ingredientsAndRecipe {
  width: 90%;
  height: 60%;
  max-height: 120px;
  margin: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  line-height: 1.05em;
}

.card .ingredientsAndRecipe ul {
  width: 45%;
  overflow: hidden;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 14px;
}

.card .ingredientsAndRecipe p {
  width: 55%;
  overflow: hidden;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  line-height: 14px;
}
/*# sourceMappingURL=style.css.map */