@import "sass/base/reset";
@import "sass/utils/variables";
main {
  width: 100%;
  max-width: 1440px;
  height: max-content;
  margin: auto;
  border: $borderBlue;
  font-family: Lato;
}
header {
  text-align: center;
  img {
    width: 268px;
    height: 93px;
  }
}
.search {
  width: 88%;
  margin: auto;
  height: auto;
  margin-top: 17px;
  display: flex;
  justify-content: center;
  position: relative;
}
.loupe {
  position: absolute;
  right: 19px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
#search {
  width: 100%;
  height: 69px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: $color-primary;
  border: none;
  font-size: 18px;
  font-family: "Lato";
  font-weight: 400;
  padding-left: 22px;
  &:focus {
    outline: 2px solid $color-ingredients;
  }
}
.choice {
  width: 88%;
  height: auto;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  .userChoice {
    width: 107px;
    height: 37px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    background-color: $color-ingredients;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
    .croix {
      cursor: pointer;
    }
  }
}
.btns {
  width: auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: 6.1%;
  margin-bottom: 25px;
}
.btn {
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  padding-left: 25px;
  border: none;
  &__ingredients {
    background-color: $color-ingredients;
  }
  &__appareil {
    background-color: $color-appareil;
  }
  &__ustensiles {
    background-color: $color-ustensiles;
  }
  &:hover::after {
    transform: translateY(50%) rotate(-135deg);
    transition: transform 0.2s linear;
  }
  &::after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border: 2px solid rgb(255, 255, 255);
    border-top: none;
    border-left: none;
    right: 10px;
    cursor: pointer;
    transform: rotate(45deg);
    transition: transform 0.2s linear;
  }
}
.container {
  width: 88%;
  height: 100vh;
  margin-left: 6.1%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-between;
  border: $borderGreen;
  @media (max-width: 900px) {
    justify-content: center;
  }
}
.card {
  width: 380px;
  height: 364px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
  @media (max-width: 900px) {
    width: 100%;
  }
  .img {
    width: 100%;
    height: 48.9%;
    background-color: $color-primary;
  }
  .description {
    width: 100%;
    height: 51.1%;
    border: $borderGreen;
  }
  .nameAndTime {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    align-items: center;
    img {
      margin-right: 7px;
    }
  }
  .ingredientsAndRecipe {
    width: 90%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    border: $borderBlue;
    overflow: hidden;
    text-overflow: ellipsis;
    ul {
      height: min-content;
      color: green;
      border: $borderBlack;
    }
  }
}
