$color-primary: #901c1c;
$color-primary-light: #d3573c;
$color-secondary: #525252;
$color-secondary-light: #fafafa;
$color-mainRedirecttion: #db8876;
$color-border: #c4c4c4;
$color-price: #757575;
$borderRed: 1px solid red;
$borderBlue: 1px solid blue;
$borderGreen: 1px solid green;
$borderBlack: 1px solid black;
